* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Akaya Kanadaka', cursive; */
    position: relative;
    overflow-x: hidden;
    background-color: #b88b3942;

}

.searchnav {
    width: 80.3%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 160px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.searchnav input {
    width: 400px;
    height: 30px;
    margin: 0px 5px;
    border: 2px solid #ffa600;
    border-radius: 5px;
    outline: none;
    padding: 5px 7px;
    font-size: 15px;
    height: 33px;

}

.searchnav i {
    font-size: 20px;
    color: #ffa600;
}

.searchnav button {
    margin: 0px 0px;
    padding: 5px 8px;
    background-color: #8b7d6202;
    cursor: pointer;
    border: none;
}